:root {
  --shadow-retro: 4px 4px 0 hsl(0deg 0% 35%);
  --shadow-inset-retro: inset 4px 4px 0 hsl(0deg 0% 35%);
}

body {
  background-color: #78bec4;
  display: grid;
  grid-template-areas: "leftside main main main main main main main main main rightside";
  height: 100vh;
  margin: 0;
  padding: .6rem;
}

.calculator {
  background-color: rgb(33 187 136);
  border: 4px solid rgb(0 0 0);
  border-radius: 30px;
  box-shadow: var(--shadow-retro);
  box-sizing: border-box;
  display: grid;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  gap: .6rem;
  grid-area: main;
  grid-template-areas:
    "NONE NONE LOGO LOGO"
    "DISPLAY DISPLAY DISPLAY DISPLAY"
    "CLEAR BACK PERCENT DIVIDE"
    "SEVEN EIGHT NINE MULTIPLY"
    "FOUR FIVE SIX SUBTRACT"
    "ONE TWO THREE ADD"
    "COMA ZERO SOUND RESULT";
  margin: 16px 0;
  min-height: 620px;
  min-width: 350px;
  padding: 1.5rem 2px;
  place-items: center;
  position: relative;
}

.logo{
  grid-area: LOGO;
  justify-self: end;
  padding-right: 13%;
}

.item {
  align-items: center;
  background-color: rgb(237 237 240);
  border: 4px solid black;
  border-radius: 10%;
  box-shadow: var(--shadow-retro);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 2.2rem;
  height: 70px;
  justify-content: center;
  width: 70px;
}

.item img {
  width: 40%;
}

.pressButton {
  box-shadow: var(--shadow-inset-retro);
}

.display {
  align-items: flex-start;
  background-color: black;
  border-radius: 9px;
  box-shadow: var(--shadow-inset-retro);
  display: flex;
  flex-direction: column;
  grid-area: DISPLAY;
  height: 6rem;
  justify-content: center;
  min-width: 290px;
  overflow: hidden;
  padding: 0 24px;
  width: 80%;
}

.display2 {
  align-self: flex-end;
  color: white;
  font-size: 1.5em;
  height: 30px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 4px;
  text-wrap: nowrap;
}

.display2-bg {
  background-color: hsl(0deg 0% 18%);
}

.number {
  background-color: rgb(235 197 74);
}

.displayText {
  align-self: flex-end;
  color: #fff;
  display: inline;
  font-size: 3rem;
  letter-spacing: -5px;
  margin-bottom: 0;
  margin-top: 0;
}

.disableAudioButton {
  position: relative;
}

.disableAudioButton::before {
  background-color: rgb(250 69 69);
  border: 1px solid black;
  content: "";
  height: 2px;
  position: absolute;
  transform: rotate(-45deg);
  width: 80%;
}

.item:nth-child(2) {
  background-color: red;
}

.item:nth-child(3) {
  grid-area: CLEAR;
}

.item:nth-child(4) {
  grid-area: BACK;
}

.item:nth-child(5) {
  grid-area: PERCENT;
}

.item:nth-child(6) {
  grid-area: DIVIDE;
}

.item:nth-child(7) {
  grid-area: SEVEN;
}

.item:nth-child(8) {
  grid-area: EIGHT;
}

.item:nth-child(9) {
  grid-area: NINE;
}

.item:nth-child(10) {
  grid-area: MULTIPLY;
}

.item:nth-child(11) {
  grid-area: FOUR;
}

.item:nth-child(12) {
  grid-area: FIVE;
}

.item:nth-child(13) {
  grid-area: SIX;
}

.item:nth-child(14) {
  grid-area: SUBTRACT;
}

.item:nth-child(15) {
  grid-area: ONE;
}

.item:nth-child(16) {
  grid-area: TWO;
}

.item:nth-child(17) {
  grid-area: THREE;
}

.item:nth-child(18) {
  grid-area: ADD;
}

.item:nth-child(19) {
  grid-area: COMA;
}

.item:nth-child(20) {
  grid-area: ZERO;
}

.item:nth-child(21) {
  grid-area: SOUND;
}

.item:nth-child(22) {
  background-color: rgb(250 69 69);
  grid-area: RESULT;
}
